### VS Code ###
.vscode
.idea
*.log
**/target/**
sfenv/
programs/minst.npy
DAVEX_ui/.vite/deps/package-lock.json
DAVEX_ui_agent/.vite/deps/package-lock.json
DAVEX_ui_agent/read.md
DAVEX_ui/read.md
DAVEX_agent/read.md
DAVEX_base/read.md
DAVEX_center/read.md
/AGENTS.md
/contracts/
/.agents/
