<configuration>

    <!-- 定义系统默认日志记录器 -->
<!--    定义一个名为 CONSOLE 的日志记录器（appender），它将日志输出到控制台。-->
<!--    使用 encoder 指定日志输出格式，包括时间戳、线程名、日志级别、记录器名称和日志消息。-->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

<!--    定义一个名为 FILE 的日志记录器，它将日志输出到文件 logs/application.log 中。-->
<!--    RollingFileAppender 会根据时间滚动日志文件，这里使用 TimeBasedRollingPolicy 指定日志文件按天滚动。-->
<!--    fileNamePattern 定义了滚动日志文件的命名模式。-->
<!--    maxHistory 指定最多保留30天的日志文件。-->
<!--    使用 encoder 指定日志输出格式。-->

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>DVE_agent/src/main/java/DveAgent/logs/application.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>DVE_agent/src/main/java/DveAgent/logs/application-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 定义自定义日志记录器 -->
<!--    定义一个名为 CUSTOM_FILE 的日志记录器，它将自定义日志输出到文件 logs/custom-application.log 中。-->
<!--    RollingFileAppender 会根据时间滚动日志文件，使用 TimeBasedRollingPolicy 指定日志文件按天滚动。-->
<!--    fileNamePattern 定义了滚动日志文件的命名模式。-->
<!--    maxHistory 指定最多保留30天的日志文件。-->
<!--    使用 encoder 指定日志输出格式。-->
    <appender name="CUSTOM_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>DVE_agent/src/main/java/DveAgent/logs/custom-application.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>DVE_agent/src/main/java/DveAgent/logs/custom-application-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 系统默认日志配置 -->
<!--    root 元素定义了系统默认的日志记录配置，所有未明确指定记录器的日志都会遵循此配置。-->
<!--    日志级别设置为 INFO，即记录 INFO 级别及以上的日志（如 WARN、ERROR）。-->
<!--    appender-ref 元素引用了 CONSOLE 和 FILE 记录器，将日志输出到控制台和日志文件。-->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>

    <!-- 自定义日志配置 -->
<!--    定义一个名为 CustomLogger 的日志记录器，用于自定义日志记录。-->
<!--    日志级别设置为 INFO，即记录 INFO 级别及以上的日志（如 WARN、ERROR）。-->
<!--    additivity 设置为 false，表示该记录器不会将日志传播给父记录器（即 root 记录器）。-->
<!--    appender-ref 元素引用了 CUSTOM_FILE 记录器，将日志输出到自定义日志文件。-->
    <logger name="CustomLogger" level="INFO" additivity="false">
        <appender-ref ref="CUSTOM_FILE" />
    </logger>

</configuration>